<h1>Tracks</h1>
<table>
  <tr>
	<th>ID</th>
    <th>Title</th>
    <th>Location</th>
	<th></th>
	<th></th>
  </tr>
 
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.id %></td>
      <td><%= track.title %></td>
      <td><%= track.location %></td>
	  <td><%= link_to 'Show', track %></td>
	  <td><%= link_to 'Edit', edit_track_path(track) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Artists', artists_path %></p>
<p><%= link_to 'Albums', albums_path %></p>