<h1>New Track</h1>
<%= form_for :track, url: tracks_path do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %><br/>
	</p>
	
	<p>
		<%= f.label :location %><br/>
		<%= f.text_field :location %><br/>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>