<audio autoplay="autoplay" controls>
	<source src="<%=stream_url @track %>" type=audio/mpeg>
</audio>

<p>
	<strong>Track No.:</strong>
	<%= @track.track_no %>
</p>

<p>
	<strong>Title:</strong>
	<%= @track.title %>
</p>

<p>
	<strong>Location:</strong>
	<%= @track.location %>
</p>

<p>
	<strong>Album:</strong>
	<%= @track.album.nil? ? "Undefined" : link_to(@track.album.title,@track.album) %>
</p>

<p>
	<strong>Artist:</strong>
	<%= @track.artist.nil? ? "Undefined" : link_to(@track.artist.name,@track.artist) %>
</p>



<%= link_to 'Back', tracks_path %>
