<%=@duration%>
<%start = Time.now%>
<h1>Artists</h1>

<%= link_to "New Artist", new_artist_path %>
<table>
	<th>Id</th>
	<th>Name</th>
	<th></th>
	<th></th>
	<th></th>
	<!--<th>Albums</th>-->
<% @artists.each do |artist| %>
	<tr>
	<td><%= artist.id %></td>
	<td><%= artist.name %></td>
	<td><%= link_to "Show", artist %></td>
	<td><%= link_to "Edit", edit_artist_path(artist) %></td>
	<td><%= link_to "Delete", artist_path(artist), method: :delete %></td>
	<!--<td><% artist.albums.each {|album| %>
	<p><%= album.title %></p>
	<% } %>
	</td>-->
	</tr>
<% end %>

</table>
<%=Time.now - start%>
<p><%= link_to "Albums", albums_path %></p>
<p><%= link_to "Tracks", tracks_path %></p>