<div id='musicplayer'></div>

<p>
	<strong>Name:</strong>
	<%= @artist.name %>
</p>

<p>
	<strong>Albums:</strong><br/>
	<% @artist.albums.each {|album| %>
		<%= link_to album.title,album %><br/>
	<% } %>
</p>

<p>
	<strong>Tracks:</strong><br/>
	<% @artist.tracks.each {|track| %>
		<%= link_to track.title,track %><br/>
	<% } %>
</p>

<%= link_to "Edit", edit_artist_path(@artist) %><br/>
<%= link_to 'Artists', artists_path %><br/>
<%= link_to 'Albums', albums_path %>

<script>
	var player = new MusicPlayer();
	<% @artist.tracks.each {|track| %>
		player.addToPlaylist({title: "<%= track.title %>", src: "<%= stream_url track %>", duration: <%= track.duration %>});
	<% } %>
</script>
