<div id='musicplayer' class='centre'></div>

<p>
	<strong>Title:</strong>
	<%= @album.title %>
</p>

<p>
	<strong>Artist:</strong>
	<%= @album.artist.nil? ? "Undefined" : link_to(@album.artist.name,@album.artist) %>
</p>

<p>
	<strong>Tracks:</strong><br/>
	<% sorted_tracks = @album.tracks.sort {|x,y| x.track_no <=> y.track_no} %>
	<% sorted_tracks.each {|track| %>
		<%= link_to track.title,track %><br/>
	<% } %>
</p>


<%= link_to "Edit", edit_album_path(@album) %><br/>
<%= link_to 'Artists', artists_path %><br/>
<%= link_to 'Albums', albums_path %>

<%= TracksHelper.musicplayer_script(sorted_tracks) %>
