<div id='musicplayer'></div>

<p>
	<strong>Title:</strong>
	<%= @album.title %>
</p>

<p>
	<strong>Artist:</strong>
	<%= @album.artist.nil? ? "Undefined" : link_to(@album.artist.name,@album.artist) %>
</p>

<p>
	<strong>Tracks:</strong><br/>
	<% @album.tracks.each {|track| %>
		<%= link_to track.title,track %><br/>
	<% } %>
</p>


<%= link_to "Edit", edit_album_path(@album) %><br/>
<%= link_to 'Artists', artists_path %><br/>
<%= link_to 'Albums', albums_path %>

<script>
	var player = new MusicPlayer();
	<% @album.tracks.each {|track| %>
		player.addToPlaylist({title: "<%= track.title %>", src: "<%= stream_url track %>"});
	<% } %>
</script>